
/*
#01934a   vert  
#e6ba26 jaune */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body{
  width: auto;
  margin: 0;
  padding: 0;
  overflow-x : hidden;
  font-family: 'Lato', sans-serif;
  
  
}
asrp
.offset:before{
  display: block;
  content: "";
  height: 4rem;
  margin-top: -rem;
}

/*============= NAVIGATION =============*/
nav.nav-up{

  text-transform: uppercase;
  font-weight: 700;
  font-size: .7rem;
  letter-spacing: .1rem;
  background:#e6ba26!important;
  height: 2rem;
  width: 100%;
}
.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: #01934a !important;

}

.navbar-brand img{
  height: 2rem; 
}

.navbar-nav li {

    padding-right: .7rem;

}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .3rem;

}

.navbar-dark .navbar-nav .nav-link.active ,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #e6ba26;
}
/*============= slides===========*/
.slider {
      border-top: -5rem;
      width: 100%;
      height: 500px;
    }

.slider    img {
      width: 100%;
      height: 100px;
      animation: ani 5s linear;

    }

    @-webkit-keyframes ani {
    100% { left: 0; }
}

@keyframes ani {
    100% { left: 0; }
}
/*============= LANDING PAGE =============*/
.slider-section {
  position: relative;
}


.caption{
  position: absolute;
  top: 0;
  right: 0;
  height: 300%;
  width: 100%;
  max-width: 100%;
 
  z-index: 1;
  color: white;


}

.caption h1{
   margin-top: 80px;
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black; 
  padding-bottom: 1rem;
}

.caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .8rem black; 
  padding-bottom: 1.6rem;
 
}

.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
  margin-bottom: 25px;

}

/**========= rhombus button ***/
.button-center {
  top:0;
  position: relative;
  background-color: #e6ba26;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 24px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
   transform: skew(20deg);
}
.button-center:after {
  content: "";
  background: #e6ba26;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
.button-center:hover{
   transform: skew(20deg);
   color:white;
}

.button-left {
  top:0;
  position: relative;
  background-color: #4CAF50;
  font-size: 28px;
  color: #FFFFFF;
  padding: 10px;
  width: 225px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transform: skew(20deg);
  left: 4px;
}

.button-left:hover{
   height: 80px;
   color:#e6ba26;
}


.button-right {
    top:0;
  position: relative;
  background-color: #4CAF50;
  font-size: 28px;
  color: #FFFFFF;
  padding: 10px;
  width: 225px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transform: skew(20deg);
  right: 4px;
}

.button-right:hover{
    height: 80px;
   color:#e6ba26;
}



/**========= rectangle button ***/
/***========search******/
div#div-search {
  width:900px;
  height:50px;
  position: relative; 

}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  
    box-shadow: none;
}

/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #01934a;
  background-color: #01934a;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color:#e6ba26;
  background-color: #e6ba26;
  color: white;
}

/*============= Features SECTION =============*/
.jumbotron {
  margin-bottom: 0;
  padding: 0rem 0 0rem;
  border-radius: 0;

}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #01934a;
  margin: 0 auto 1rem;
}

.feature svg.svg-inline--fa{
  color:#01934a ;
}

.feature h3{
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}

.feature p{
  font-size: 1.1rem;
}

/*============= Ressources SECTION =============*/
.fixed-background{
  background-image: url(style/img/apple.png);
  z-index: -1;
}
.dark{
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 3rem 2rem;
}
.fixed-background h3{
  margin-bottom: 2rem;

}

.fixed-background p{
  margin-top: 1.5rem;
  
}
/*============= Clients SECTION =============*/

blockquote svg.svg-inline--fa{
  color: #189582;
  margin: 1rem;
}
.clients-hr{
  border-top: .05rem solid #189582;
}

/*============= footer SECTION =============*/
.footer-div{
  height: 40px;
   padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
footer {
 
  background-color: #40474e;
  color: white;

padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 100px;

}
footer .col-md-4{
	
   padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 100px;
}
footer h3{
   font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}

footer a{
   font-size: 1rem;
 
  padding-bottom: .4rem;
}

footer img{
  height: 4rem;
  margin: 0rem 0;
}
footer a{
  color: white;
}
footer a:hover{
  color: #e6ba26;
  text-decoration: none;
}
footer svg.svg-inline--fa{
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover{
  color: #189582!important;
}
hr.socket{
  width: 100%;
  border-top: .2rem solid #666b71;
  
}

/*============= Media Queries =============*/
@media (max-width: 700px) {
  .slider img{
  height: 340px; 
}
.caption h1{

  font-size: 2.4rem;
  letter-spacing: .15rem;
  padding-bottom: 2rem;
}
.button-left, .button-right {
  width: 150px;

  font-size: 1.5rem;
}
.button-center{
  width: 130px;

  font-size: 1.5rem;
  
} 

.btn-lg{
  padding: .5rem 1rem;
  font-size: 1rem;
}

.slider {
  height: 40xp;
  
}

.narrow h1 {
    font-size: 2rem;
  }
  
 .narrow p {
    font-size: 1.5rem;
  }
  
  
 /*======footer=======*/ 
 .footer-div{
  height: 40px;
   padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
footer {
 
  background-color: #40474e;
  color: white;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
footer .col-md-4{
   width: 50px;
   padding-top: 0px;
  padding-right: 150px;
  padding-bottom: 0px;
  padding-left: 0px;
}
footer h3{
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}

footer a{
   font-size: 1rem;
 
  padding-bottom: 0rem;
}

footer img{
  height: 4rem;
  margin: 0rem 0;
}
footer a{
  color: white;
}
footer a:hover{
  color: #e6ba26;
  text-decoration: none;
}
footer svg.svg-inline--fa{
  font-size: 1.6rem;
  margin: 0rem 0rem 0 0;
}
footer svg.svg-inline--fa:hover{
  color: #189582!important;
}
hr.socket{
  width: 100%;
  border-top: 0rem solid #666b71;
  
}
 
  
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
